{% extends "loophole.html" %}
{% block maincontent %}
  <div class="article">
    <style type="text/css" media="screen">
      a#newmd-button{
        background: #0370ea;
        background: -moz-linear-gradient(top,#008dfd 0,#0370ea 100%);
        background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008dfd),color-stop(100%,#0370ea));
        background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
        background: -o-linear-gradient(top,#008dfd 0,#0370ea 100%);
        background: -ms-linear-gradient(top,#008dfd 0,#0370ea 100%);
        background: linear-gradient(top,#008dfd 0,#0370ea 100%);
        border: 1px solid #076bd2;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff !important;
        display: inline-block;
        font-size: 13px;
        font-weight: 700;
        line-height: 1.3;
        padding: 8px 25px;
        text-align: center;
        text-decoration: none !important;
        text-shadow: 1px 1px 1px #076bd2;
      }
    </style>
    <h2>Introduction</h2><div class="clr"></div>
    <p>这是《网络攻防》课程第一组的课程设计，内容以SQL注入攻击以及口令攻击为例，主要演示“信息采集技术”这一节的相关技术。本网站共有三个页面：主页、后台管理和登入页面，其中本人在登入页面故意留下了SQL漏洞以及采用了弱口令，通过SQL注入、暴力口令攻击都可以成功登入后台。这一步往往是攻击网站的第一步。</p>
    <p>为了实现攻击，您可能需要首先安装nmap、python、wireshark等工具软件。后续攻击如何实施，见右栏参考文献“黑客是怎样入侵你的网站的”。我觉得这是一片写得比较有意思的文章。
    </p>
    <p>点击右边栏中的“登入后台”链接（或下面的按钮）可以开始尝试攻击本网站。当然，这需要读者具备一定的计算机网络知识才行。SQL注入攻击的方法，在维基百科中已经叙述得很清楚了，可是现在很少有网站再有SQL漏洞了，因此本站特意留下了SQL漏洞，给（像我一样）刚刚入门网络攻防的读者一个体验的机会。</p>
    <p>如果想通过口令攻击进入后台，可以先用抓包软件抓取登入时浏览器向服务器发送的数据包，分析其格式，并通过工具软件或编程的方式（见参考文献"HOWTO Fetch Internet Resources Using urllib2"）来发送类似的数据包，并用暴力破解枚举所有密码进行尝试，本站后台的密码很短，只有4位数字。</p>
    <p>另外，可以尝试用信息采集技术探查有关本站点的信息。或许你还会对得到的数据感到疑惑，因为本站在设计的各个环节没有采用常用技术。如果您成功地了解到了关于本站的一些有价值的信息，请发邮件给我（在页尾），告诉我您是怎么做到的。非常感谢您的关注。</p>
    <p>与本站类似的网站还有<a href="http://www.hack-test.com/" target="_blank">hack-test.com</a></p>
    <br/>
    <div style="text-align:center;"><a id="newmd-button" href="admin">开始攻击！</a></div>
  </div>
  <div class="article">
    <h2>SQL Injection</h2><div class="clr"></div>
    <p>SQL攻击（SQL injection，中国大陆称作SQL注入攻击，台湾称作SQL资料隐码攻击），简称注入攻击，是发生于应用程序之数据库层的安全漏洞。简而言之，是在输入的字符串之中注入SQL指令，在设计不良的程序当中忽略了检查，那么这些注入进去的指令就会被数据库服务器误认为是正常的SQL指令而运行，因此遭到破坏。</p>
    <p>在应用程序中若有下列状况，则可能应用程序正暴露在SQL Injection的高风险情况下：
      <ul>
        <li>在应用程序中使用字符串联结方式组合SQL指令。</li>
        <li>在应用程序链接数据库时使用权限过大的账户（例如很多开发人员都喜欢用sa（内置的最高权限的系统管理员账户）连接Microsoft SQL Server数据库）。</li>
        <li>在数据库中开放了不必要但权力过大的功能</li>
        <li>太过于信任用户所输入的数据，未限制输入的字符数，以及未对用户输入的数据做潜在指令的检查。</li>
      </ul>
    </p>
  </div>
  <div class="article">
    <h2><span>Weak Password</span></h2><div class="clr"></div>
    <!-- <img src="images/img1.jpg" width="613" height="154" alt="image" /> -->
    <p>密码强度指一个密码被非认证的用户或计算机破译的难度。 密码强度通常用“弱”或“强”来形容。“弱”和“强”是相对的，不同的密码系统对于密码强度有不同的要求。密码的破译与系统允许客户尝试不同密码的次数、是否熟悉密码主人等因素相关。然而，即使再强的密码也有可能被破译、窃取或泄漏。如果要测密码的强弱，可以使用密码安全鉴定器。</p>
    <strong>弱密码</strong>
    <p>弱密码是易于猜测的密码，主要有以下几种：</p>
    <ul>
      <li>顺序或重复的字符：“12345678”、“111111”、“abcdefg”、“asdf”、“qwer”键盘上的相邻字母；</li>
      <li>使用数字或符号的仅外观类似替换，例如使用数字“1”、“0”替换英文字母“i”、“O”，字符“@”替换字母“a”等；</li>
      <li>登录名的一部分：密码为登录名的一部分或完全和登录名相同；</li>
      <li>常用的单词：如自己和熟人的名字及其缩写，常用的单词及其缩写，宠物的名字等；</li>
      <li>常用数字：比如自己或熟人的生日、证件编号等，以及这些数字与名字、称号等字母的简单组合。</li>
    </ul>
    <br/>
  </div>
{% end %}